#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.clickable {
  cursor: pointer;
}

.loginForm {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.loginForm input[type=text],input[type=password] {
  padding: 10px;
  width: 200px;
  height: 30px;
}

.loginForm input[type=button] {
  margin-top: 10px;
  font-size: 18px;
  padding: 10px;
  width: 224px;
  height: 40px;
}



.responseBody, .pollOptions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.responseBody .response {
  display: flex;
  flex-direction: row;
  width: 500px;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  border-top: 1px solid white;
}

.responseBody .response:hover {
  background-color: #313131;
}

.responseBody .response input[type=button] {
  width: 60px;
  margin: 0;
}

.back {
  width: 500px;
  display: flex;
  align-items: flex-start;
}

.pollOptions .option {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  border-top: 1px solid white;
}

.pollOptions {
  border: 1px solid white;
}

.pollQuestion {
  width: 500px;
}